#itemList > div{
	display: grid;
	grid-template-columns: 20% auto 10% 15% 10%;
	text-align: center;
	align-items: center;
	margin-top: 5px;
}

#itemList button{
	padding: 0;
}

.header {
	padding: 30px;
	text-align: center;
	background: #ffb3a7;
	color: white;
	font-size: 30px;
	border: 1px solid black;
}

.container {
	max-width: 1200px;
	margin: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 47% 47%;
	grid-gap: 6%;
	margin-top: 50px;
}

.history {
	background-color: #ffb3a7;
	border: 2px solid black;
}

.chart {
	position: relative;
	background-color: #ffb3a7;
	border: 2px solid black;
}

@media only screen and (max-width: 800px) {
	.container {
		display: flex;
		flex-direction: column;
	}
}
